.centeredCell{
    text-align:center;
}

.iconButton {
    cursor: pointer;
}

.iconRed{
    color:red;
}

.buttonFilter{
    float:right;
    width:25%;
}

.cardHeader {
    text-align:center;
    font-weight: bold;
    font-size: 3vh;
}

.cardBox {
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding:10px;
}